@{
    ViewData["Title"] = "Home Page";
}
Hello
<div>
    <p className="text-center text-3xl font-semibold my-10">ড্যাসবোর্ড</p>
    {/* কাস্টমারের হিসাব নিকাশ */}
    <p className="text-center text-3xl font-semibold mt-16">কাস্টমারের হিসাব</p>

    <div className="container mx-auto max-w-2xl px-12 grid grid-cols-2 md:grid-cols-3 gap-7 mt-4 ">
        <Link to='/dashlayout/productSell' className="flex flex-col justify-center items-center  border-2 border-blue-500 w-32 h-28 hover:bg-blue-400 hover:text-white rounded-lg hover:border-none">
        <img className="w-10 h-10" src="/public/sale.png" alt="" />
        <p className="text-sm mt-2">পণ্য বিক্রয় নিবন্ধন</p>
        </Link>
        <Link to='/dashlayout/productSellReport' className="flex flex-col justify-center items-center border-2 border-blue-500 w-32 h-28hover:bg-blue-400 hover:bg-blue-400 hover:text-white rounded-lg hover:border-none">
        <img className="w-10 h-10" src="/public/analytics.png" alt="" />
        <p className="text-sm text-center  mt-2">বিক্রয়ক্রিত পণ্যের বিবরণী</p>
        </Link>
        <Link to='/dashlayout/addCustomer' className="flex flex-col justify-center items-center border-2 border-blue-500 w-32 h-28hover:bg-blue-400 hover:bg-blue-400 hover:text-white rounded-lg hover:border-none">
        <img className="w-10 h-10" src="/public/customer-survey.png" alt="" />
        <p className="text-sm mt-2 px-1 text-center">কাস্টমার যোগ করুন</p>
        </Link>
        <Link to='/dashlayout/customerList' className="flex flex-col justify-center items-center border-2 border-blue-500 w-32 h-28hover:bg-blue-400 hover:bg-blue-400 hover:text-white rounded-lg hover:border-none">
        <img className="w-10 h-10" src="/public/attendant-list.png" alt="" />
        <p className="text-sm mt-2 px-1 text-center">কাস্টমারের লিস্ট</p>
        </Link>

        <Link to='/dashlayout/customerDue' className="flex flex-col justify-center items-center border-2 border-blue-500 w-32 h-28  hover:bg-blue-400 hover:text-white rounded-lg hover:border-none">
        <img className="w-10 h-10" src="/public/money-bag.png" alt="" />
        <p className="text-sm mt-2">বাকির হিসাব</p>
        </Link>
        <Link to='/dashlayout/shopHishab' className="flex flex-col justify-center items-center border-2 border-blue-500 w-32 h-28  hover:bg-blue-400 hover:text-white rounded-lg hover:border-none">
        <img className="w-10 h-10" src="/public/money-flow.png" alt="" />
        <p className="text-sm mt-2">দোকানের হিসাব</p>
        </Link>
    </div>

    {/* দোকানের ক্রয়ক্রিত পণ্যের হিসাব নিকাশ */}
    <p className="text-center text-3xl font-semibold mt-16">দোকানের ক্রয়ক্রিত পণ্যের হিসাব নিকাশ</p>

    <div className="container mx-auto max-w-2xl px-12 grid grid-cols-2 md:grid-cols-3 gap-7 mt-4 my-20">
        <Link to='/dashlayout/productBuy' className="flex flex-col justify-center items-center  border-2 border-blue-500 w-32 h-28 hover:bg-blue-400 hover:text-white rounded-lg hover:border-none">
        <img className="w-10 h-10" src="/public/sale.png" alt="" />
        <p className="text-sm mt-2 text-center">ক্রয়ক্রিত পণ্য নিবন্ধন</p>
        </Link>
        <Link to='/dashlayout/productBuyList' className="flex flex-col justify-center items-center border-2 border-blue-500 w-32 h-28hover:bg-blue-400 hover:bg-blue-400 hover:text-white rounded-lg hover:border-none">
        <img className="w-10 h-10" src="/public/analytics.png" alt="" />
        <p className="text-sm text-center  mt-2">ক্রয়ক্রিত পণ্যের বিবরণী</p>
        </Link>
        <Link to='/dashlayout/addSeller' className="flex flex-col justify-center items-center border-2 border-blue-500 w-32 h-28hover:bg-blue-400 hover:bg-blue-400 hover:text-white rounded-lg hover:border-none">
        <img className="w-10 h-10" src="/public/customer-survey.png" alt="" />
        <p className="text-sm mt-2 text-center">বিক্রেতা যোগ করুন</p>
        </Link>
        <Link to='/dashlayout/sellerList' className="flex flex-col justify-center items-center border-2 border-blue-500 w-32 h-28hover:bg-blue-400 hover:bg-blue-400 hover:text-white rounded-lg hover:border-none">
        <img className="w-10 h-10" src="/public/attendant-list.png" alt="" />
        <p className="text-sm mt-2 px-1 text-center">বিক্রেতার লিস্ট</p>
        </Link>
        <Link to='/dashlayout/addProudct' className="flex flex-col justify-center items-center border-2 border-blue-500 w-32 h-28 hover:bg-blue-400 hover:text-white rounded-lg hover:border-none">
        <img className="w-10 h-10" src="/public/product-life-cycle.png" alt="" />
        <p className="text-sm mt-2">পণ্য স্টক করুন</p>
        </Link>
        <Link to='/dashlayout/productList' className="flex flex-col justify-center items-center border-2 border-blue-500 w-32 h-28hover:bg-blue-400 hover:bg-blue-400 hover:text-white rounded-lg hover:border-none">
        <img className="w-10 h-10" src="/public/stock-chart.png" alt="" />
        <p className="text-sm mt-2 text-center px-1"> স্টকক্রিত পণ্য দেখুন</p>
        </Link>
        <Link to='/dashlayout/ownShopDue' className="flex flex-col justify-center items-center border-2 border-blue-500 w-32 h-28  hover:bg-blue-400 hover:text-white rounded-lg hover:border-none">
        <img className="w-10 h-10" src="/public/money-bag.png" alt="" />
        <p className="text-sm mt-2">বাকির হিসাব</p>
        </Link>
        <Link to='/dashlayout/ownShopDue' className="flex flex-col justify-center items-center border-2 border-blue-500 w-32 h-28  hover:bg-blue-400 hover:text-white rounded-lg hover:border-none">
        <img className="w-10 h-10" src="/public/money-flow.png" alt="" />
        <p className="text-sm mt-2">দোকানের হিসাব</p>
        </Link>
    </div>

</div>